extends layout

block html_header
    title IoT System

block main_content
    h1 IoT System
    p Welcome to IoT System Gateway
    p
        a(href='/login') ログイン
    p
        a(href='/main') メイン画面を開く(要ログイン)
    p
        a(href='/logout') ログアウト


