extends layout

block html_header
    title Logged out - IoT System

block main_content
    h1 ログアウト
    p ログアウトしました

    p
        a(href='/') トップページ
    p
        a(href='/login') ログインし直す
