h1.float-left#main-header IoT System
.header-right-items.float-right
    #clock.float-left
    .btn-toolbar(role='toolbar', aria-label='Toolbar with button groups')
        .btn-group.mr-2.header-buttons(role='group', aria-label='First group')
            .dropdown
                button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') 設定
                .dropdown-menu(aria-labelledby='dropdownMenuButton')
                    a.dropdown-item(href='#') マスタメンテナンス
                    a.dropdown-item(href='#') レイアウト
        //-    button.btn.btn-secondary(type='button') マスタメンテナンス
        //-.btn-group.mr-2.header-buttons(role='group', aria-label='Second group')
        //-    .dropdown
        //-        button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') ガジェット
        //-        .dropdown-menu(aria-labelledby='dropdownMenuButton')
        //-            a.dropdown-item(href='#') 変更
        //-            a.dropdown-item(href='#') 保存
        .btn-group.header-buttons(role='group', aria-label='Third group')
            a.btn.btn-primary(href='/logout') ログアウト
