script(src='/libs/jquery/3.3.1/jquery.min.js')
script(src='/libs/popper.js/1.14.7/umd/popper.min.js')
script(src='/libs/jquery-ui/1.12.1/jquery-ui.min.js')
script(src='/libs/bootstrap/4.3.1/js/bootstrap.min.js', crossorigin='anonymous')
